<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" style="background-color:#333;">
  <!--
    <header class="bar bar-header bar-stable">
      <h1 id="username" class="title" style="text-align:left;" ></h1>

    </header>
-->
    <ion-content>
      <ion-list >
      <!--
        <ion-item nav-clear menu-close ng-click="login()">
          Login
        </ion-item>
        -->

     
        <ion-item  assertive nav-clear menu-close  href="#/app/messages" style="border: 1px solid #444;">
           <i class="icon ion-email"></i><span style="margin-left:10px;">Messages</span>
        </ion-item>

        <ion-item assertive nav-clear menu-close  href="#/app/coworkers" style="border: 1px solid #444;">
           <i class="icon ion-person-stalker"></i><span style="margin-left:10px;">Co-Workers</span>
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/facebook" style="border: 1px solid #444;">
           <i class="icon ion-social-facebook-outline"></i> <span style="margin-left:10px;">Facebook</span>
        </ion-item>

           <ion-item nav-clear menu-close href="#/app/settings" style="border: 1px solid #444;">
         <i class="icon ion-gear-b"></i>  <span style="margin-left:10px;">Settings</span>
        </ion-item>


      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
