<ion-view title="Playlists">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>




<div class="module inbox-view">
fd
  <div class="module__title">
    <h1> -{{ inbox.title }}- </h1>
  </div>
</div>
<div class="module directive">
    <inbox></inbox>
</div>
    


  </ion-content>
</ion-view>

